<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<style type="text/css">
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
<div id="app">
<input type="text" v-model="search_txt"></input>
<button type="submit" @click="callAjax(search_txt)">検索</button>
<ul>
	<li v-for="info in result" v-cloak>{{info.Item.itemName}}</li>
</ul>
</div>
	<script src="js/jquery-2.2.2.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/function.js"></script>
</body>
</html>